@charset "utf-8";
body{
	background-color: black;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
/*	width: 768px;
	text-align: center;*/
}

#proj{
	width: 100%;
	max-width: 768px;
	margin:0 auto;
	height: auto;
}

#projd{
	width: 90%;
	max-width: 560px;
	/*min-width: 560px;*/
	margin:0 auto;
	height: auto;
	overflow: hidden;
}
#ptitle{
	width: 100%;
	margin:0 auto;
	color: #aaa;
	font-size: 18px;
	text-align: center;
	padding-top: 26px;
	padding-bottom: 26px;
}
#box{
	width: 100%;
	/*max-width: 450px;*/
	height: auto;
	color: #333;
	font-size: 12px;
	overflow: hidden;
	background: white;
	margin-bottom: 14px;
	cursor: pointer;
	display: flex;
}
#box div:hover{
			text-decoration: underline;
}
#bimg{
	width:50%;
	float: left;
	font-size: 0;
}
#bimg img{
	width: 100%;
	display: block;
}

#text{
	width:50%;
	float: left;
	height: 100%;
	margin: auto;
	/*padding:10px;*/
}
#bdes1, #bdes2, #bdes3{
	margin-left: 12px;
	margin-right: 12px;
}